<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AirlinesProject</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AutoComplete</display-name>
    <servlet-name>AutoComplete</servlet-name>
    <servlet-class>com.controller.AutoComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoComplete</servlet-name>
    <url-pattern>/searchAutoComplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightSearchServlet</display-name>
    <servlet-name>FlightSearchServlet</servlet-name>
    <servlet-class>com.controller.FlightSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightSearchServlet</servlet-name>
    <url-pattern>/FlightSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFlightServlet</display-name>
    <servlet-name>BookFlightServlet</servlet-name>
    <servlet-class>com.controller.BookFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFlightServlet</servlet-name>
    <url-pattern>/BookFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessUserDetailsServlet</display-name>
    <servlet-name>ProcessUserDetailsServlet</servlet-name>
    <servlet-class>com.controller.ProcessUserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessUserDetailsServlet</servlet-name>
    <url-pattern>/processUserDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightReviewServlet</display-name>
    <servlet-name>FlightReviewServlet</servlet-name>
    <servlet-class>com.controller.FlightReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightReviewServlet</servlet-name>
    <url-pattern>/FlightReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessFlightReviewServlet</display-name>
    <servlet-name>ProcessFlightReviewServlet</servlet-name>
    <servlet-class>com.controller.ProcessFlightReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessFlightReviewServlet</servlet-name>
    <url-pattern>/ProcessFlightReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessPaymentServlet</display-name>
    <servlet-name>ProcessPaymentServlet</servlet-name>
    <servlet-class>com.controller.ProcessPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessPaymentServlet</servlet-name>
    <url-pattern>/ProcessPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessWriteReviewServlet</display-name>
    <servlet-name>ProcessWriteReviewServlet</servlet-name>
    <servlet-class>com.controller.ProcessWriteReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessWriteReviewServlet</servlet-name>
    <url-pattern>/ProcessWriteReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReviewServlet</display-name>
    <servlet-name>ViewReviewServlet</servlet-name>
    <servlet-class>com.controller.ViewReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReviewServlet</servlet-name>
    <url-pattern>/ViewReviewServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>AutoComplete2</display-name>
    <servlet-name>AutoComplete2</servlet-name>
    <servlet-class>com.controller.AutoComplete2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoComplete2</servlet-name>
    <url-pattern>/searchAutoComplete2</url-pattern>
  </servlet-mapping>
</web-app>